.jumbotron{
    font-size: 30px;
    padding: 70px;
    background-color: black;
    text-align: center;
    color: white;
}

.clear{
    clear: left;
}


.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.profile img{
    width: 200px;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#content{
    float: left;
    width: 75%;
}

.left-content{
    text-align: justify;
    line-height: 200px;
    height: 100%;
    background-color: rgb(116, 37, 0);
    
    float: left;
    padding-top: 10px;
    margin-top: auto;
}


header{
    display: inline;
}

nav li{
    display: inline;
    list-style-type: none;
    margin-left: 30px;
}

nav{
    background-color: saddlebrown;
    padding: 5px;
    position: sticky;
    top: 0;
    color: white;
}

nav a{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover{
    font-weight: bold;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

main{
    padding: 20px;
    overflow: auto;
}

aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}

footer{
    padding: 20px;
    background-color: brown;
    color: white;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    #content, aside{
        width: 100%;
        padding: 0;
    }
}
